---
layout: base
---

<section class="full">
  <h1>{{ page.title }}</h1>
  {% if page.tags %}
  <small style="float: right; line-height: 30px;"><em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %}
  <a href="../"><i class="fa fa-arrow-circle-left"></i></a>
  <hr/>

  {{content}}

  <hr/>
  {% if page.date %}
  <small style="float: right; line-height: 28px;">{{ page.date | date: '%b %Y' }}</small>
  {% endif %}
  <a href="../"><i class="fa fa-arrow-circle-left"></i></a>
</section>
